<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Dev" value="User Id=USERNAME;Password=DEV_PASSWORD;Data Source=DEV_SOURCE;"/>
    <add key="Test" value="User Id=USERNAME;Password=TEST_PASSWORD;Data Source=TEST_SOURCE;"/>
    <add key="PreProd" value="User Id=USERNAME;Password=PREPROD_PASSWORD;Data Source=PREPROD_SOURCE;"/>
    <add key="Prod" value="User Id=USERNAME;Password=PROD_PASSWORD;Data Source=PROD_SOURCE;"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
